
html {
    position: relative;
    min-height: 100%;
}
body {

    margin-bottom: 60px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}



body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}


.dialogdemoBasicUsage #popupContainer {
    position: relative; }

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }

.dialogdemoBasicUsage button {
    width: 200px; }

.dialogdemoBasicUsage div#status {
    color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0; }

.card-img-bottom {
    color: #fff;
    padding: 10px;
    height: 10rem;
    background-size: cover;
}

.card-extended {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.inner-card {
    padding-top: 10px;
}

.card-margin-bottom{
    margin-bottom: 100px;
}

.top-bot-margin{
    margin-top: 10px;
    margin-bottom: 10px;
}