<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-xs-2">
                Admin Panel
            </div>
            <div class="col-xs-10">
                <div class="btn-group btn-block">
                    <button class="btn btn-primary btn-lg" ng-click="controller.toggle('users', -1)">Manage Users</button>
                    <button class="btn btn-primary btn-lg" ng-click="controller.toggle('categories', -1)">Manage Categories</button>
                </div>
            </div>
        </div>
    </div>
    <!-- USERS -->
    <div class="panel-body">
        <div ng-show="controller.users">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Authority</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in controller.userData">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.role}}</td>
                    <td><button class="btn btn-warning">edit</button></td>
                    <td><button class="btn btn-danger">delete</button></td>
                </tr>
                </tbody>
            </table>

        </div>

        <!-- CATEGORIES -->
        <div ng-show="controller.categories">

            <div ng-show="controller.error" class="alert alert-danger">
                {{controller.errorMessage}}
            </div>
            <form name="reg" ng-submit="controller.addCategory()">
                <div class="form-group">
                    <label for="name">Category Name:</label>
                    <input class="form-control"
                           type="text" ng-model="controller.category.name" id="name" required/>
                </div>

                <button type="submit" class="btn btn-primary">Add Category</button>
            </form>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody ng-repeat="category in controller.categoryData">

                    <!-- EDIT OFF -->
                    <tr ng-show="!category.edit">
                        <td>{{category.id}}</td>
                        <td>{{category.name}}</td>
                        <td ng-click="controller.toggle('products', category.id)">display product list</td>
                        <td><button class="btn btn-warning" ng-click="controller.categoryEdit($index, true)">edit</button></td>
                        <td><button class="btn btn-danger" ng-click="controller.deleteCategory(category.id)">delete</button></td>
                    </tr>

                    <!-- EDIT ON -->
                    <tr ng-show="category.edit">


                            <div class="form-group">
                                <td>{{category.id}}</td>
                                <td>
                                    <input class="form-control" type="text"
                                           ng-model="controller.categoryData[$index].name" required/>
                                </td>

                                <td>
                                    <form name="reg" ng-submit="controller.updateCategories($index)">
                                        <button type="submit" class="btn btn-success">save</button>
                                    </form>

                                </td>
                                <td>
                                    <button ng-click="controller.categoryEdit($index, false)" class="btn btn-warning">cancel</button>
                                </td>

                            </div>

                    </tr>

                </tbody>
            </table>

        </div>

        <!-- PRODUCTS -->
        <div ng-show="controller.products">
            <h3 ng-click="controller.addingProduct = !controller.addingProduct">
                {{controller.productData.name}}(click do add new)
            </h3>
            <div ng-show="controller.addingProduct">
                <form name="reg" ng-submit="controller.addProduct(controller.productData.id)">
                    <div class="form-group">
                        <label for="pname">Product Name:</label>
                        <input class="form-control"
                               type="text" ng-model="controller.product.name" id="pname" required/>
                        <label for="price">Price:</label>
                        <input class="form-control"
                               type="number" ng-model="controller.product.price" id="price" required/>
                        <label for="description">Description:</label>
                        <textarea class="form-control" rows="5" id="description"
                                  ng-model="controller.product.description" id="description" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Add Product</button>
                </form>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in controller.productData.products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td><button class="btn btn-warning">edit</button></td>
                    <td><button class="btn btn-danger"
                                ng-click="controller.deleteProduct(controller.productData.id, product.id)">delete</button></td>
                </tr>
                </tbody>
            </table>

        </div>


    </div>

</div>