<div class="card text-center card-margin-bottom">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link" href ng-click="controller.toggle('users', -1)">Manage Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href ng-click="controller.toggle('categories', -1)">Manage Categories</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div ng-show="controller.users">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Authority</th>
                </tr>
                </thead>
                <tbody ng-repeat="user in controller.userData">
                <!-- EDIT OFF -->
                <tr ng-show="!controller.userData[$index].edit">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.role}}</td>
                    <td>
                        <button class="btn btn-warning"
                                ng-click="controller.userData[$index].edit = true">edit</button>
                    </td>
                    <td><button class="btn btn-danger"
                                ng-click="controller.deleteUser(user.id)">delete</button></td>
                </tr>
                <!-- EDIT ON-->
                <tr ng-show="controller.userData[$index].edit">
                    <td>{{user.id}}</td>
                    <td><input class="form-control" type="text" ng-model="controller.userData[$index].username"/></td>
                    <td><input class="form-control" type="text" ng-model="controller.userData[$index].role"/></td>
                    <td><button class="btn btn-success" ng-click="controller.updateUser(user.id, $index)">save</button></td>
                    <td>
                        <button class="btn btn-warning"
                                ng-click="controller.userData[$index].edit = false">cancel</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <!-- CATEGORIES -->
        <div ng-show="controller.categories">

            <div ng-show="controller.error" class="alert alert-danger">
                {{controller.errorMessage}}
            </div>
            <form name="reg" ng-submit="controller.addCategory()">
                <div class="form-group">
                    <label for="name">Category Name:</label>
                    <input class="form-control"
                           type="text" ng-model="controller.category.name" id="name" required/>
                </div>

                <button type="submit" class="btn btn-primary">Add Category</button>
            </form>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody ng-repeat="category in controller.categoryData">

                <!-- EDIT OFF -->
                <tr ng-show="!category.edit">
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td ng-click="controller.toggle('products', category.id)">display product list</td>
                    <td><button class="btn btn-warning" ng-click="controller.categoryEdit($index, true)">edit</button></td>
                    <td><button class="btn btn-danger" ng-click="controller.deleteCategory(category.id)">delete</button></td>
                </tr>

                <!-- EDIT ON -->
                <tr ng-show="category.edit">


                    <div class="form-group">
                        <td>{{category.id}}</td>
                        <td>
                            <input class="form-control" type="text"
                                   ng-model="controller.categoryData[$index].name" required/>
                        </td>

                        <td>
                            <form name="reg" ng-submit="controller.updateCategories($index)">
                                <button type="submit" class="btn btn-success">save</button>
                            </form>

                        </td>
                        <td>
                            <button ng-click="controller.categoryEdit($index, false)" class="btn btn-warning">cancel</button>
                        </td>

                    </div>

                </tr>

                </tbody>
            </table>

        </div>

        <!-- PRODUCTS -->
        <div ng-show="controller.products">
            <h3 ng-click="controller.addingProduct = !controller.addingProduct">
                {{controller.productData.name}}(click do add new)
            </h3>
            <div ng-show="controller.addingProduct">
                <form name="reg" ng-submit="controller.addProduct(controller.productData.id)">
                    <div class="form-group">
                        <label for="pname">Product Name:</label>
                        <input class="form-control"
                               type="text" ng-model="controller.product.name" id="pname" required/>
                        <label for="price">Price:</label>
                        <input class="form-control"
                               type="number" ng-model="controller.product.price" id="price" required/>
                        <label for="description">Description:</label>
                        <textarea class="form-control" rows="5" id="description"
                                  ng-model="controller.product.description" id="description" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Add Product</button>
                </form>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody ng-repeat="product in controller.productData.products">
                <!-- EDIT OFF -->
                <tr ng-show="!controller.productData.products[$index].edit">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td><button class="btn btn-warning" ng-click="controller.productData.products[$index].edit = true">edit</button></td>
                    <td><button class="btn btn-danger"
                                ng-click="controller.deleteProduct(controller.productData.id, product.id)">delete</button></td>
                </tr>
                <!-- EDIT ON -->
                <tr style="min-height: 120%" ng-show="controller.productData.products[$index].edit">
                    <td class="col-md-1">{{product.id}}</td>
                    <td class="col-md-2"><input class="form-control input-sm" type="text" ng-model="controller.productData.products[$index].name"required/></td>
                    <td class="col-md-2"><input class="form-control input-sm" type="number" ng-model="controller.productData.products[$index].price"required/></td>
                    <td class="col-md-5"><textarea class="form-control input-sm" ng-model="controller.productData.products[$index].description" required></textarea></td>
                    <td class="col-md-1"><button class="btn btn-success" ng-click="controller.updateProduct(controller.productData.id, controller.productData.products[$index].id, $index)">save</button></td>
                    <td class="col-md-1"><button class="btn btn-warning" ng-click="controller.productData.products[$index].edit = false">cancel</button></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


