<div class="card card-margin-bottom"  data-ng-init="controller.init()">
    <div class="card-header"><h2>Shopping Cart</h2></div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>name</th>
                <th>price</th>
                <th>amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="inventory in controller.filteredInventory">
                <td>{{inventory.name}}</td>
                <td>{{inventory.price | number : 2}} PLN</td>
                <td><input class="form-control" type="number" step="1" min="1"
                           ng-model="controller.filteredInventory[$index].amount" required/></td>
                <td><button class="btn btn-danger" ng-click="controller.deleteDialog($event ,inventory.id)">
                    remove all</button></td>
            </tr>
            <tr>
                <td><h3>Total price:</h3></td>
                <td></td>
                <td><h3>{{controller.totalPrice | number : 2}} PLN</h3></td>
            </tr>
            </tbody>


        </table>
        <div class="btn-group btn-block">
            <button class="btn btn-primary btn-lg" ng-disabled="controller.filteredInventory.length < 1"
                    ng-click="controller.updateInventory()">update inventory</button>
            <button class="btn btn-success btn-lg" ng-disabled="controller.filteredInventory.length < 1"
                    ng-click="controller.showConfirm($event)">order</button>

        </div>
    </div>
</div>


