<div class="panel panel-default" data-ng-init="controller.fetchOrders()">
    <div class="panel-heading">
        {{user.username}} orders
    </div>
    <div class="panel-body">
        <!-- Order -->
        <div ng-show="!controller.showProducts">
            <table  class="table table-hover">
                <thead>
                <tr>
                    <th>id</th>
                    <th>date</th>
                    <th>products amount</th>
                </tr>
                </thead>
                <tbody ng-repeat="order in controller.orders">
                <tr ng-click="controller.showDetails($index)">
                    <td>{{order.id}}</td>
                    <td>
                        {{order.orderDate.hour}}:{{order.orderDate.minute}}:{{order.orderDate.second}}
                        {{order.orderDate.dayOfMonth}} {{order.orderDate.month}} {{order.orderDate.year}}
                    </td>
                    <td>{{order.products.length}}</td>
                    <td>click to show order details</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- PRODUCTS -->
        <div ng-show="controller.showProducts">
            <button class="btn btn-primary" ng-click="controller.showProducts = false">Hide Details</button>
            <h3>Details for order {{controller.orderDetail.id}}</h3>
            <h5>Date:  {{controller.orderDetail.orderDate.hour}}:{{controller.orderDetail.orderDate.minute}}:{{controller.orderDetail.orderDate.second}} {{controller.orderDetail.orderDate.dayOfMonth}}
                {{controller.orderDetail.orderDate.month}} {{controller.orderDetail.orderDate.year}}
            </h5>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>price</th>
                </tr>
                </thead>
                <tbody ng-repeat="product in controller.orderDetail.products">
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>